.timezone-controls {
    display: flex;
    align-items: center;
  margin-bottom: 20px;
}

/* Add any additional styling as needed */

hr {
  border-top: 1px solid #4e2020;
  margin: 10px 0;
}

/* WeekdaysList.css */


.weekday-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 50%;
  margin-bottom: 20px; /* Adjust as needed */
}

.weekday-header {
  display: flex;
  align-items: center;
  background-color:rgb(217, 234, 234);
  overflow: auto;
  width: 4rem;
}

.checkbox-container {
  display: flex;
  width: 50rem;
  flex-wrap: wrap;
  
  margin-top: 10px; /* Adjust as needed */
}

.checkbox {
  justify-content: space-evenly;
  margin: 0.3rem;
  
  
}

/* Add any additional styling as needed */

.hr-line {
  border-top: 1px solid #ddd; /* Adjust the color and style as needed */
  margin-top: 10px; /* Adjust the margin as needed */
}
.statuss{
  margin-left: -50rem;
}
.check{
  border: 2px solid rgb(155, 155, 196);
}

.time-zone{
  width: 100%;
  height: 2rem;
}

.week-navigation-buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

